 .main_chat_box{
	margin: 30px auto;
	position: relative;
	display: flex;
	justify-content:space-evenly
} 
/* .main_chat_box{
	display: inline-block;
	position:relative;
	 margin: 0;
	 padding: 0;
	/* border: 1px solid black;
	box-shadow: 10px 12px 0px 0px #000;
	border-bottom: 1px solid #000; 
	background-color: white;
    background-image: url(../img/social.png);
} */
.nav_box{
	justify-content: space-between;
	padding: 2px 10px;
}
.title_box{
	font-size: 11px;
}
.chat_list{
	/* margin: 0 15px; */
	width: 250px;
	height: 400px;
	border: 1px solid black;
	box-shadow: 10px 12px 0px 0px #000;
	border-bottom: 1px solid #000;
	background-color: white;
    background-image: url(../img/social.png);
}



.divdeschats {
	display: flex;
	justify-content: space-between;
	gap : 10px
}
.small-box {
	flex: 1;
	/* height: 100px; */
	border:6px solid var(--greyscale-k, #000);
	box-shadow: 10px 12px 0px 0px #000;
	margin: 5px;
}
.wider-box {
	display: flex;

	flex: 2; /* This makes the 3rd div twice as wide */
}

.buttonchan:hover{
	background-color: #B9D9EB;
}

.buttonnotchan:hover{
	background-color: #FA8072;
}

.buttonokchan:hover{
	background-color: #0BDA51;
}


.leave:hover{
	background-color: #FA8072;
}

.firstsmall{
	display: flex;
	flex-direction: column;
}


.small-box:nth-child(1) {
	/* border: #0BDA51 2px solid; */
	overflow: auto;
}

.inputpasswd{
	width: 40%;
	height: 90%;;
}


.chatbox{
	background-color: pink;
}

.message_box{

	/* width: 500px; */
	/* height: 400px; */
	border: 1px solid black;
	box-shadow: 10px 12px 0px 0px #000;
	border-bottom: 1px solid #000;
	background-color: white;
    background-image: url(../img/social.png);
}

.onlinepeople{
	background-color: aqua;
}