.leaderboard {
  color: black;
}

:root {
  --primary: #22D2A0;
  --green: #1FC11B;
  --yellow: #FFD913;
  --orange: #FF9C55;
  --red: #FF5555;
} 

.leadertab {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  border: 3px solid;
  display: inline-table;
  /* display: block;
  width: 300px;
  min-height: 90px;
  cursor: pointer;
  padding: 15px;
  margin: calc(50vh - 30px) auto 0 auto; */
  border: 3px solid var(--primary);
  box-shadow: 10px -10px 0 -3px , 10px -10px var(--green),
  20px -20px 0 -3px , 20px -20px var(--yellow),
  30px -30px 0 -3px , 30px -30px var(--orange),
  40px -40px 0 -3px , 40px -40px var(--red);
}

.leadertab:hover {
  animation: shadow-wave 1s ease infinite;
}

@keyframes shadow-wave {
  0% {
    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px , 10px -10px var(--green),
      20px -20px 0 -3px , 20px -20px var(--yellow),
      30px -30px 0 -3px , 30px -30px var(--orange),
      40px -40px 0 -3px , 40px -40px var(--red);
  }
  20% {
    border: 3px solid var(--red);
    box-shadow: 10px -10px 0 -3px , 10px -10px var(--primary),
      20px -20px 0 -3px , 20px -20px var(--green),
      30px -30px 0 -3px , 30px -30px var(--yellow),
      40px -40px 0 -3px , 40px -40px var(--orange);
  }
  40% {
    border: 3px solid var(--orange);
    box-shadow: 10px -10px 0 -3px , 10px -10px var(--red),
      20px -20px 0 -3px , 20px -20px var(--primary),
      30px -30px 0 -3px , 30px -30px var(--green),
      40px -40px 0 -3px , 40px -40px var(--yellow);
  }
  60% {
    border: 3px solid var(--yellow);
    box-shadow: 10px -10px 0 -3px , 10px -10px var(--orange),
      20px -20px 0 -3px , 20px -20px var(--red),
      30px -30px 0 -3px , 30px -30px var(--primary),
      40px -40px 0 -3px , 40px -40px var(--green);
  }
  80% {
    border: 3px solid var(--green);
    box-shadow: 10px -10px 0 -3px , 10px -10px var(--yellow),
      20px -20px 0 -3px , 20px -20px var(--orange),
      30px -30px 0 -3px , 30px -30px var(--red),
      40px -40px 0 -3px , 40px -40px var(--primary);
  }
 
  
}

.overflowdiv{
  overflow: auto;
  height: 93%;
}




.buttonleader {
  /* position: relative; */
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
  font-family: IBM Plex Mono;
  color: #000;
  border: solid #000;
  background-color: #6a5acd;
  border-radius: 0.5em;
  border-width: 3px;
  height: 30px;
  padding: 10px;
  margin: 0;
  box-shadow: 3px 4px 0px 0px #000;
}

.buttonleader:hover {
  background-color: pink;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.podium__item {
  width: 200px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
}

.podium__city {
  text-align: center;
  padding: 0 0.5rem;
  color : black;
  font-weight: 900;
}

.avatar{
margin-bottom: 15px;
}
.podium__number {
  width: 17px;
  height: 55px;
}

.podium .first {
  min-height: 150px;
  background: #FF9C55
}

.podium .second {
  min-height: 120px;
  background: #1FC11B ;
}

.podium .third {
  min-height: 90px;
  background: #FF5555;
}
