.twoFA {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.twoFA button {
  margin: 10px;
  cursor: pointer;
  font-family: IBM Plex Mono;
  font-size: 32px;
  font-weight: 800;
  color: #000;
  border: solid #000;
  border-width: 3px;
  height: 60px;
  padding: 10px 16px;
  margin: 10px;
  box-shadow: 3px 4px 0px 0px #000;
}

.twoFAenabled {
  background-color: #30c562;
}

.twoFAenabled:hover {
  background-color: #72db95;
  color: #111;
}

.twoFAdisabled {
  background-color: #c53030;
}

.acceptbutton:hover {
  background-color: #0BDA51;
  color: #111;
}

.deletebutton:hover {
   background-color: #CE2029
}
